J:/Projects/Coding/ARFoundation/arfoundation-samples-4.1/Assets/ANGRY[[:space:]]MESH/Nature[[:space:]]Pack[[:space:]]-[[:space:]]Winter[[:space:]]Environment/Ground[[:space:]]Textures/Snow_03_Albedo.tif filter=lfs diff=lfs merge=lfs -text
